{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "kafka",
      "runtimeExecutable": "docker",
      "runtimeArgs": ["compose", "logs", "--follow", "kafka"]
    },
    {
      "name": "mongo",
      "runtimeExecutable": "docker",
      "runtimeArgs": ["compose", "logs", "--follow", "mongo"]
    },
    {
      "name": "kafka-ui",
      "runtimeExecutable": "docker",
      "runtimeArgs": ["compose", "logs", "--follow", "kafka-ui"]
    },
    {
      "name": "showcase",
      "runtimeExecutable": "/bin/bash",
      "runtimeArgs": ["-c", "python3 -m http.server 9090 --directory showcase"],
      "port": 9090
    },
    {
      "name": "benchmark",
      "runtimeExecutable": "/bin/bash",
      "runtimeArgs": ["-c", "./gradlew run"]
    }
  ]
}
